{% extends 'index.html' %}
{% block title %}Page 2{% endblock %}
{% block content %}
  <h1>Page 2</h1>
  <form method="post" enctype="multipart/form-data" action=".">
    {{ form.csrf_token }}

    <div class="section">
      <h3>Use hardware acceleration when available</h3>

      <label class="switch">
        <input type="checkbox" name="Hardware Acceleration">
        <span class="slider"></span>
      </label>
    </div>
    <div class="form-group">
      <a href="{{ url_for('page_one') }}" class="btn">
        <button type="submit" class="btn">Finish</button>
      </a>

    </div>
  </form>

{% endblock %}
