{% extends 'index.html' %}
{% block title %}Page 1{% endblock %}
{% block content %}
  <h1>Page 1</h1>
  <form method="post" enctype="multipart/form-data" novalidate>
    <div class="form-group">
      {{ form.csrf_token }}
      <div class="mode">
        {{ form.mode.label }}<br>
        {{ form.mode }}<br>
      </div>
      <div class="tests">
        {{ form.tests.label }}<br>
        {% for test in form.tests %}
          {{ test }} {{ loop.index }}<br>
        {% endfor %}
        <button type="button" id="check-all">Check All</button>
        <button type="button" id="uncheck-all">Uncheck All</button>
      </div>
      <div class="users">
        <table>
          <thead>
          <tr>
            <th>Type</th>
            <th>Email</th>
            <th>Password</th>
            <th>Remove</th>
          </tr>
          </thead>
          <tbody>
          {% for user_entry in form.users %}
            <tr>
              <td>{{ user_entry.user_type(class="form-control") }}</td>
              <td>{{ user_entry.email(class="form-control") }}</td>
              <td>{{ user_entry.password(class="form-control") }}</td>
              <td>
                <button type="button">X</button>
              </td>
            <td>
              <button type="button" id="addRowButton" onclick="addRow()">Add Row</button>
            </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>


      </div>
      <div class="report">
        {{ form.report_background_image.label }}<br>
        {{ form.report_background_image }}<br>
        {{ form.report_background_image.data }}<br>
      </div>
      <div class="form-group">
        {{ form.next }}
      </div>

    </div>
  </form>
{% endblock %}
