{% extends 'index.html' %}
{% block title %}Finished successfully{% endblock %}
{% block content %}
  <div class="pywebview-drag-region">
    <a href="{{ url_for('shutdown') }}" class="btn btn-end">Click here to terminate the application</a>
    <span class="finish-arrow pywebview-drag-region" style='font-size:50px;'>&#8673;</span>
    <h1 class="pywebview-drag-region">Thank you for submit form</h1>
    <h1 class="pywebview-drag-region">YAML file ready for you inside root directory.</h1>
    <h1>---------------------------------</h1>
    <h2>Here is your configurations:</h2>
    <br>
    <p>Report background image:
      <ul>
        <li>Filename: {{ config['report_background_image'].filename }}</li>
        <li>Path: {{ config['report_background_image'].path }}</li>
      </ul>
    </p>
    <h1>----------------</h1>
    <p>Mode:
      <ul>
        <li>{{ config['mode'] }}</li>
      </ul>
    </p>
    <h1>----------------</h1>
    <p>
      Tests:
      <ul>
        {% for test in config['tests'] %}
          <li>Name: {{ test.name }}, Value: {{ test.value }}</li>
        {% endfor %}
      </ul>
    </p>
    <h1>----------------</h1>
    <p>
    Users:
      <ul>
        {% for user in config['users'] %}
          <li>Email: {{ user.email }}, Password: {{ user.password }}</li>
        {% endfor %}
      </ul>
    </p>
    <h1>----------------</h1>
    <p> Hardware acceleration:
      <ul>
        <li>{{ config['hardware_acceleration'] }}</li>
      </ul>
    </p>
    <span class="finish-arrow pywebview-drag-region" style='font-size:50px;'>&#8675;</span>
    <a href="{{ url_for('shutdown') }}" class="btn btn-end">Click here to terminate the application</a>
  </div>


{% endblock %}
