{% extends 'index.html' %} {% block title %}Page 1{% endblock %}
{% from 'sharedFormElements.html' import mode_field, tests_field, users_field, report_background_image_field, hardware_acceleration_field %}
{% block content %}
  <h1>Page 1</h1>
  <p>Fill in the form below.</p>
  <form method="post" enctype="multipart/form-data" action="{{ url_for('page_one') }}">
    {% block form %}
      <div class="form-group">
        {% for class_name in page_one_classes %}
          {% if class_name == 'mode' %}
            {{ mode_field(form, config) }}
          {% elif class_name == 'tests' %}
            {{ tests_field(form, config) }}
          {% elif class_name == 'users' %}
            {{ users_field(form, config) }}
          {% elif class_name == 'report_background_image' %}
            {{ report_background_image_field(form, config) }}
          {% elif class_name == 'hardware_acceleration' %}
            {{ hardware_acceleration_field(form, config) }}
          {% endif %}
        {% endfor %}
      </div>
    {% endblock %}
    <button class="btn" type="submit">Next</button>
  </form>
{% endblock %}
